img{
    
    border-radius: 0.1cm;
   margin-right: 15px;
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
body{
    margin: 25px;
    
 
     text-align: justify;
    border-radius: 5px;
   
    font-family: 'Roboto', sans-serif;
   background-color: rgb(245, 196, 107);
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(133, 53, 0);
}
